<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control text-title', required: true %>
  </div>
  <div data-no-turbolink>
    <%= f.label :body %>
    <%= f.text_area :body, :class => 'ckeditor' %>
  </div>

  <%= f.submit 'Update', class: 'btn btn-default' %>
<% end %>
