<h1> Edit Post </h1>
  <%= form_for @post do |f| %>

  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body, class: 'ckeditor', required: true %>

  <%= f.submit %>
<% end %>
